body{
	background-image: url("/img/capetown.jpg")
}

.jumbotron {
	position: absolute;
	top: 50%;
	left:50%;
	min-width: 90%;
	color: white;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	transform: translate(-50%,-50%);
	overflow: scroll;
}
.navbar-brand,
.navbar-nav li a {
		line-height: 75px;
		height: 75px;
		padding-top: 0;
}
.buffer{
	margin-top: 20%;
}
#results{
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: scroll;
}
#weather{
	height: 300px;
	min-width: 90%;
	padding: 3%;
	color: black;
	font-weight: lighter;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}
#weathdata{
	background-color: silver;
	border-radius: 10px;
}

#weathericon{
	margin-left: 15%;
}

#gmap{ margin: 5px;
	height: 400px;
	min-width: 90%;
	padding: 3%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4)
}

#recipies{
	min-width: 90%;
	height: auto;
	padding: 3%;
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
	color: silver;
}
#custom-nav {
	background-color: rgba(0,0,0,0.3);
	border: 0;
	box-shadow: none;
	z-index: 999;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: background .5s ease-in-out, opacity .5s ease;
	-moz-transition: background .5s ease-in-out, opacity .5s ease;
	transition: background .5s ease-in-out, opacity .5s ease;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: rgba(0, 0, 0, 0.4);
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 700px;
}

h1, h2, h3, h4{
	color: white;
}